DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=blog_cms
DB_USERNAME=blog_user
DB_PASSWORD=blog_secret

APP_ENV=development
APP_URL=http://localhost:8080
APP_NAME="Blog CMS"

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
